<main>
  <section>
    <h1><span class="from">Q1</span> ► <span class="to">Q1</span></h1>
    <app-scatter-test [scatterData]="scatterData11"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q1</span> ► <span class="to">Q2</span></h1>
    <app-scatter-test [scatterData]="scatterData12"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q1</span> ► <span class="to">Q3</span></h1>
    <app-scatter-test [scatterData]="scatterData13"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q1</span> ► <span class="to">Q4</span></h1>
    <app-scatter-test [scatterData]="scatterData14"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q2</span> ► <span class="to">Q1</span></h1>
    <app-scatter-test [scatterData]="scatterData21"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q2</span> ► <span class="to">Q2</span></h1>
    <app-scatter-test [scatterData]="scatterData22"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q2</span> ► <span class="to">Q3</span></h1>
    <app-scatter-test [scatterData]="scatterData23"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q2</span> ► <span class="to">Q4</span></h1>
    <app-scatter-test [scatterData]="scatterData24"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q3</span> ► <span class="to">Q1</span></h1>
    <app-scatter-test [scatterData]="scatterData31"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q3</span> ► <span class="to">Q2</span></h1>
    <app-scatter-test [scatterData]="scatterData32"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q3</span> ► <span class="to">Q3</span></h1>
    <app-scatter-test [scatterData]="scatterData33"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q3</span> ► <span class="to">Q4</span></h1>
    <app-scatter-test [scatterData]="scatterData34"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q4</span> ► <span class="to">Q1</span></h1>
    <app-scatter-test [scatterData]="scatterData41"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q4</span> ► <span class="to">Q2</span></h1>
    <app-scatter-test [scatterData]="scatterData42"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q4</span> ► <span class="to">Q3</span></h1>
    <app-scatter-test [scatterData]="scatterData43"></app-scatter-test>
  </section>
  <section>
    <h1><span class="from">Q4</span> ► <span class="to">Q4</span></h1>
    <app-scatter-test [scatterData]="scatterData44"></app-scatter-test>
  </section>
</main>
